/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hier komt jouw css */

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f38181;
}

body {
  background-image: url(media/images/berg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /** in case background image doesn't completely cover background, it can be good to set background color to the background color of the image **/
  background-color: rgba(209, 209, 209, 0.644);
  /* to set padding to the body left & right*/
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 7rem; /* 16.5 px * 7 */
}

h2,
h4 {
  /*zodat ons pseudelement position absolute effect kan hebben*/
  position: relative;
}

header h2::after,
article div h4::after {
  /* we maken een child element in de h2*/
  content: "";
  background-color: #f38181;
  height: 4px;
  width: 60px;
  position: absolute;
  top: 21px;
  left: 0;
}

header h2::after {
  /* this left will overwrite above declared style rule as it comes after*/
  left: calc(100% - (50% + 30px));
}

header h4::after {
  /* this left will overwrite above declared style rule as it comes after*/
  width: 200px;
}

main {
  padding: 150px;
}

main section {
    display: flex;
    flex-wrap: wrap; /*wrapping & rapping*/
    justify-content: space-between;
    gap: 50px;
}

main article {
  display: flex;
  justify-content: space-between;
  width: 520px;
}

main article div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* alternatief voor bovenstaande:
op

h4 {
    padding: 20px 0;
}
*/

main article img {
  border-radius: 50%;
  width: 110px;
}
