main li {
  padding: 5px;
  color: orange;
  text-align: center;
}

h2 {
  padding-bottom: 25px;
  color: goldenrod;
  text-align: center;
}

main li:nth-child(odd) {
  background-color: darkgray;
}
main li:nth-child(even) {
  background-color: gray;
}

main li:hover {
  background-color: gold;
  color: black;
}

main a {
  display: inline-block;
  width: 100%;
}

a:link {
  color: white;
}

a:link:hover {
  color: gray;
}

/** 
class selector schrijf door . te maken voor de naam:
**/
.warning {
  background-color: orange;
}
/**
id selector schrijf je door # te zetten voor de naam
**/
#koel {
  color: lightblue;
}
