
li:hover {
    background-color: lightblue;
    color: black;
}

a:link {
  color: orange;
}

a:link:hover {
  color: black;
}

/** 
class selector schrijf door . te maken voor de naam:
**/
.warning {
  background-color: orange;
}
/**
id selector schrijf je door # te zetten voor de naam
**/
#koel {
  color: lightblue;
}

p.highlighted, h1.highlighted {
  background-color:lightyellow;
}

/* hetzelfde als dit: */


p.highlighted {
  background-color:lightyellow;
}
