/* drie basisstijlregels om je te helpen */
:root {font-size: 62.5%;  /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */ }
/* 1rem = 10px
 1.4 = 14px
*/
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

/* hier komt jouw css */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* dit selecteert de ul binnen het nav element*/
nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.4rem;
}

/* dit selecteert de li, binnen de ul binnen het nav element*/
nav ul li {
  padding: 34px 34px 39px 34px;
  /*pointer zorgt ervoor dat je een "handje" krijgt, klassiek gebruikt voor links*/
  cursor: pointer;
}

nav ul li:hover {
    /* easy way */
    background-color: black;
    color: white;
}