/* drie basisstijlregels om je te helpen */
:root {
  font-size: 62.5%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
/* 1rem = 10px
 1.4 = 14px
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hier komt jouw css */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  background-color: #699bf7;
}

nav {
  /* we zetten hier achtergrond kleur op wit in, omdat anders het blauw zal zijn, zie hierboven */
  background-color: white;
}

/* dit selecteert de ul binnen het nav element*/
nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* dit selecteert de li, binnen de ul binnen het nav element*/
nav ul li {
  padding: 34px 34px 39px 34px;
  /*pointer zorgt ervoor dat je een "handje" krijgt, klassiek gebruikt voor links*/
}

nav ul li:hover {
    /* easy way */
    background-color: black;
    color: white;
    cursor: pointer;
  }

aside {
  background-color: #c8b8ff;
  padding: 22px;
  text-align: center;
}

main {
    /*
    vh staat voor view height
    vw staat voor view width

    deze unit is percentage van je viewport
    als je volledige breeddte 1000px is
    dan is 10vw gelijk aan 100px
    */
    padding: 62px 11vw;
}

article {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

article h1 {
    /*komt overeen met 21px*/
    font-size: 2.1rem;
}

article h2 {
    /*komt overeen met 30px*/
    font-size: 3rem;
    /*vetgedrukt*/
    font-weight: bold;
}

article button {
    background-color: black;
    color: white;
    border: none;
    padding: 16px 27px;
    /* we nemen de breedte van de content,
    in dit geval, de tekst "Get Started"
    */
    width: fit-content;
    /*
    dit geeft rounding on border;
    indien niet zeker welke waarde, gebruik 4px standaard
    */
    border-radius: 5px;
}

article button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

figure {
}
