/* drie basisstijlregels om je te helpen */
:root {
  font-size: 100%; /* zet je dit op 62.5%, dan is elke rem 10px waard, anders 16px */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
    padding: 20px;
}

.exciting::before {
    content: " <- EXCITING!";
    color: green;
  }
  
  .boring::before {
    content: " <- BORING";
    color: red;
  }